<!-- <article>
  <div class="row">
    <% @books.each do |book| %>
      <label class='col-sm-9'><%= book.title %></label><br>
      <div class="col-sm-4">
        <%= link_to image_tag(book.book_cover_url(:thumb)), book %>
      </div>
    <% end %>
  </div>
</article> -->
