<%= bootstrap_form_for([:admin, @author], :html => {class: "form-horizontal"}) do |f| %>
  <div class='form-group'>
    <label for='first_name' class='control-label col-sm-3'>First name</label>
    <div class='col-sm-9'>
      <%= f.text_field :first_name, class: 'form-control', hide_label: true %>
    </div>
  </div>

  <div class='form-group'>
    <label for='last_name' class='control-label col-sm-3'>Last name</label>
    <div class='col-sm-9'>
      <%= f.text_field :last_name, class: 'form-control', hide_label: true %>
    </div>
  </div>

  <div class='form-group actions control-group'>
    <div class='col-sm-offset-3'>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
