<div class='container'>
  <div class='row'>
    <div class='col-md-10 col-md-offset-1 footer'>
      <footer role="contentinfo">
        <p><small>Copyright &copy; Emmanuel Training Services</small></p>
      </footer>
    </div>
  </div>
</div>
