<section>
  <div class='row'>
    <div class='col-sm-10 col-sm-offset-1'>
      <header>
        <h3 class='titles' id='book-show'>Your Shopping Cart</h3>
      </header>
      <div id='cart-items'>
        <%= render cart.cart_items %>
      </div>
      <hr>
      <div id="cart-total">
        <strong>Total: </strong><%= number_to_currency(cart.total_sale) || number_to_currency(0) %>
      </div>
      <div id='clear-cart-btn'>
        <%= button_to "Clear cart", cart_path(cart), method: :delete,
          data: { confirm: "Are you sure?"}, class: "btn btn-primary" %>
      </div>
      <div id='checkout-btn'>
        <%#= button_to "Checkout", new_order_path, method: :get,
              class: "btn btn-default", id:"checkout" %>
      </div>
    </div>
  </div>
</section>
