<html>
  <head>
  </head>
  <body>
    Dear <%= @customer.full_name %>
    <br>
    <p>You have asked for your password to be reset. Please click the link
    below to reset.</p>
    <p><%= link_to "Reset password", edit_password_reset_url(@customer.token) %></p>
    <br>
    <p>Yours faithfully,</p>
    <br>
    Bookstore Sales Team
  </body>
</html>
